<div class = "container">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><img src="" class="img-responsive"></a></li>
    </ul>
    <a class="navbar-brand" href="#">Código da Beleza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="company">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product">Produtos</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Digite">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>



  <router-outlet></router-outlet>
</div>

